nav {
    text-align: center;
    background-color: #fff;
    transition: .5s all;
    /* CSS comment */

    li {
        list-style-position: inside;

        &:nth-child(2) {
            color: $main_color
        }

        >a {
            text-decoration: none;
        }
    }
}